@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.contain{
    max-width: 1200px;
    margin: auto;
}

.svg1{
	font-family: "Russo One", sans-serif;
	width: 100%;
    height: 100%;
}
.text1{
	animation: stroke1 5s 1;
	stroke-width: 2;
	stroke: transparent;
	font-size: 64px;
    fill: #B7AA97;
    font-weight: bold;
}
@keyframes stroke1 {
	0%   {
		fill: rgba(183,170,151,0); stroke: rgba(183,170,151,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(183,170,151,0); stroke: rgba(183,170,151,1); }
	80%  {fill: rgba(183,170,151,0); stroke: rgba(183,170,151,1); stroke-width: 3; }
	100% {
		fill: rgba(183,170,151,1); stroke: rgba(183,170,151,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}
.svg2{
	font-family: "Russo One", sans-serif;
	width: 100%; height: 100%;
}
.text2{
	animation: stroke2 5s 1;
	stroke-width: 2;
	stroke: transparent;
	font-size: 64px;
    fill: #B7AA97;
    font-weight: bold;
}
@keyframes stroke2 {
	0%   {
		fill: rgba(183,170,151,0); stroke: rgba(183,170,151,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(183,170,151,0); stroke: rgba(183,170,151,1); }
	80%  {fill: rgba(183,170,151,0); stroke: rgba(183,170,151,1); stroke-width: 3; }
	100% {
		fill: rgba(183,170,151,1); stroke: rgba(183,170,151,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}
.svg3{
	font-family: "Russo One", sans-serif;
	max-width: 100%; height: 100%;
}
.text3{
	animation: stroke3 5s 1;
	stroke-width: 2;
	stroke: transparent;
	font-size: 64px;
    fill: #EC5938;
    font-weight: bold;
}
@keyframes stroke3 {
	0%   {
		fill: rgba(236,89,56,0); stroke: rgba(236,89,56,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(236,89,56,0); stroke: rgba(236,89,56,1); }
	80%  {fill: rgba(236,89,56,0); stroke: rgba(236,89,56,1); stroke-width: 3; }
	100% {
		fill: rgba(236,89,56,1); stroke: rgba(236,89,56,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}
.svg4{
	font-family: "Russo One", sans-serif;
	width: 100%; height: 100%;
}
.text4{
	animation: stroke4 5s 1;
	stroke-width: 2;
	stroke: transparent;
	font-size: 64px;
    fill: #EC5938;
    font-weight: bold;
}
@keyframes stroke4 {
	0%   {
		fill: rgba(236,89,56,0); stroke: rgba(236,89,56,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(236,89,56,0); stroke: rgba(236,89,56,1); }
	80%  {fill: rgba(236,89,56,0); stroke: rgba(236,89,56,1); stroke-width: 3; }
	100% {
		fill: rgba(236,89,56,1); stroke: rgba(236,89,56,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}
@media (0px < width <= 370px) {
	.text1, .text2, .text3, .text4{
		font-size: 45px;
	}
}
/* .svg5{
	font-family: "Russo One", sans-serif;
	max-width: 100%; height: 100%;
	border: 1px solid red;
}
.text5{
	animation: stroke4 5s 1;
	stroke-width: 2;
	stroke: transparent;
	font-size: 64px;
    fill: #EC5938;
    font-weight: bold;
}
@keyframes stroke5 {
	0%   {
		fill: rgba(236,89,56,0); stroke: rgba(236,89,56,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(236,89,56,0); stroke: rgba(236,89,56,1); }
	80%  {fill: rgba(236,89,56,0); stroke: rgba(236,89,56,1); stroke-width: 3; }
	100% {
		fill: rgba(236,89,56,1); stroke: rgba(236,89,56,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}
 */
